/* Navbar */

/* Home */
.sm-txt{
    padding: 0 4rem;
}
/* Home-Card */
.content{
    padding: 0;
    width: 16rem;
}
.card-img{
    width: 16rem;
}
.content a{
    margin: 23px 20px;
}
/* Services */
.card{
    margin-left: 0;
}

