/* Navbar */
.navbar{
    flex-direction: column;
    transition:all 0.5s ease-out; 
    height: 11.5rem;
    justify-content: center;
}
.nav-list{
    flex-direction: column;
}
.nav-list li {
    padding: 12px 0;
    
}
.h-nav-resp{
    height: 45px;
   
}
.v-class-resp{
    opacity: 0;
    display: none;
    
}
.img-resp{
    display: none;
}
.display-none{
    display: block;
}

/* Hamburger */
.burger{
    display: block;
   }
   
   .container{
       flex-direction: column;
   }
   .card{
       margin-left: 0;
   }