/* Navbar */
.ph-img{
    right: 24.5rem;
  }
  .ph-cont{
    right: 13rem;
  }
  .gm-img{
      right: 11.5rem;
  }
  .gm-cont{
    right: 0;
  }
  .contact{
      font-size: 14px;
  }
  
.card-img{
    width: 13rem;
    height: 9rem;
}
.content{
    max-width: 14rem;
}
.contact{
  font-size: 0.9rem;
}
.ph-img{
  right: 24.5rem;
}
.gm-img{
  right: 11.5rem;
}
