


/* Home */
.btn-class {
    display: flex;
    flex-direction: column;
}
.btn {
     margin: 5px 2rem;
 
}
.sm-txt{
    padding: 0 7rem;
}
/* Home-card */
.services{
    display: flex;
    flex-direction: column;
  }
/* Services */
.container{
    flex-direction: column;
    align-items: center;
}
/* About */
#about .about-container h2{
    font-size: 21px;
}
/* other class */
.m2-bottom{
    margin-bottom: 1rem;
}
.m2-top{
    margin-top: 1rem;
}
.bottom-resp{
    margin-bottom: 3rem;
}