@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800|Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}
/* Navbar */
.navbar{
    background-size: cover;
    display: flex;
    align-items: center;
    background: black;
    
}
.nav-list{
    display: flex;
    align-items: center;
}
.nav-list li a{
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    padding: 0px 10px;
    color: white;
    font-weight: 600;
}

.nav-list li{
    padding: 17px 0;
    list-style: none;
}
.img-primary{
    height: 35px;
    margin: 0 10px;
    width: 72px;
}
.ph-img{
  position: absolute;
  right: 29.5rem;
}
.ph-cont{
  right: 16rem;
}
.gm-img{
  position: absolute;
  right: 14rem;
}
.gm-cont{
  right: 0;
}
/* Hamburger */
.burger{
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 8px;
    display: none;
    
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 4px 3px;
}
/* home */
.homecontainer{
    text-align: center;
    justify-content: center;
    padding: 4rem 0;
    background: #e9ecef;
}

.lm-txt{
    color: green;
    font-family: 'Bebas Neue', cursive;;
    font-size: 2rem;
    font-weight: 100;
}
#typed{
    font-weight: 100;
}
.btn{
    padding: 5px 23px;
    margin: 0 1px;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    font-family: 'Acme', sans-serif;
    cursor: pointer;
    
}
.btn-primary1{
    background-color: #bd2130;
}
.btn-primary2{
    background-color: #218838;
}
.btn-primary3{
    background-color: #0069d9;
}
.btn-class{
    margin-top: 2rem;
}
.sm-txt{
    padding: 0 8rem;
    font-family: 'Acme';
    text-align: center;
    color: darkolivegreen;
}
#home  .btn-class button a{
    color: #e9ecef;
    text-decoration: none;
}
/* Card */
.card-body{
    text-align: center;
}
.para{
    font-size: 15px;
    text-align: center;
    font-style: italic;
    padding: 5px 15px;
    /* padding-left: 20px; */
    color: #171515;
    font-family: system-ui;
}
.card{
    padding-right: .2rem;
    padding-left: .2rem;
    padding-bottom:0 ;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 25px;
    margin-left: 3rem;
    margin-bottom: 2rem ;

    
    }
    .title{
        text-align: center !important;
        margin-top: 5px;
        font-family: cursive;
        color: brown;
        font-size: 20px;
        
    }
    .btn-primary{
        display: block;
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
        /* height: 28px; */
        /* width: 144px; */
        margin: 5px 29px;
        text-decoration: none;
        padding: 0 0;
        /* text-align: center; */
        margin-bottom: 12px;
        border-radius: 5px;
        text-align: center;
        padding: 4px 4px;
        /* justify-content: center; */
    }
    .row-pr{
        display: flex;
        flex-wrap: wrap;
        margin-left: 10rem;
        margin-right: 4rem;
        margin-bottom: 4.5rem !important;
        margin-top: 3rem !important;
        text-align: center;
        align-items: center;
    
    }
.image-primary{
    border: 2px solid blue;
    width: 9.5rem;
    height: 9rem;
    background-color: #ffb854;
    
}
.radius{
    border-radius: 50%;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* home Card */


.cards{
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
}
.cards h2.header{
  font-size: 40px;
  margin: 0 0 30px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.services{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.content{
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: 10px;
    padding: 10px 9px;
    border: 2px solid black;
    border-radius: 4px;
    transition: all .3s ease;
}
.content .fab{
  font-size: 70px;
  
}
.content > *{
  flex: 1 1 100%;
}
.content:hover{
  color: white;
}
.content:hover a{
  border-color: white;
  background: white;
}
.content-1:hover{
  border-color: #1DA1F2;
  background: #1DA1F2;
}
.content-1:hover a{
  color: #1DA1F2;
}
.content-2:hover{
  border-color: #E1306C;
  background: #E1306C;
}
.content-2:hover a{
  color: #E1306C;
}
.content-3:hover{
  border-color: #ff0000;
  background: brown;
}
.content-3:hover a{
  color: #ff0000;
}
.content h2{
  font-size: 30px;
  margin: 16px 0;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.content p{
  font-size: 17px;
  font-family: 'Poppins',sans-serif;
}
.content a{
  margin: 22px 0;
  background: black;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px solid black;
  padding: 15px 0;
  border-radius: 25px;
  transition: .3s ease;
  font-family: 'Montserrat';
}
.content a:hover{
  border-radius: 4px;
}
.cards .services .content h2{
    font-family: 'Montserrat',sans-serif;
  }
.card-img{
    width: 20rem;
    height: 10rem;
}

/* About */
.about-container{
    text-align: center;
}
#about .about-container h2{
    color: green;
    font-family: 'Acme', sans-serif;
    margin-bottom: 10px;
}
#about .about-container p{
    padding: 0 2rem;
    font-family: 'Acme';
    color: gray;
}
/* other class */
.m1-bottom{
    margin-bottom: 1rem;
}
.m1-top{
    margin-top: 1rem;
}
.bottom{
    margin-bottom: 3rem;
}
/* contact */
.contact{
  position:absolute;
  
  font-size: 1.1rem;
}
/* footer */
.footer{
  background-color: black;
  padding: 15px;
  text-align: center;
}
.footer-text{
  color: white;
  font-size: 18px;
  font-family: 'Poppins';
}
.color{
  color: antiquewhite;
  margin: 0 6px;
}